In [13]:
import pandas as pd
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.9 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [19]:
dataset = pd.read_csv('../data/us_mass_shootings_2.csv')
dataset

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Age Of Shooter,Day,Fatalities,Injured,Latitude,Longitude,Month,Total Victims,Victim Rate,Year
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,31.0,24.0,6,6,0,0,5.0,12,21.0,2022
1,LGBTQ club shooting,Colorado,19/11/2022,Male,Other,Aldrich reportedly had a history of menacing b...,NaN,yes,Unknown,White,...,22.0,14.0,5,25,0,0,5.0,30,13.0,2022
2,University of Virginia shooting,Virginia,13/11/2022,Male,School,NaN,NaN,NaN,Unknown,Black,...,22.0,28.0,3,2,"3,860,111,019","-1,214,189,659",2.0,5,4.0,2022
3,Oxford High School shooting,Oxford,30/11/2021,Male,School,-,-,-,Unknown,-,...,15.0,30.0,4,7,"4,284,410,784","-8,325,992,831",11.0,11,11.0,2021
4,San Jose VTA shooting,San Jose,26/5/2021,Male,Workplace,"Perpetrator had a history of depression, angry...",https://www.nytimes.com/2021/05/26/us/what-hap...,yes,Yes,-,...,57.0,26.0,9,0,"37,316,097","-121,888,533",5.0,9,9.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Concrete company shooting,Maryland,9/6/22,Male,Workplace,NaN,NaN,NaN,Unclear,Unclear,...,23.0,NaN,3,1,NaN,NaN,NaN,4,NaN,2022
133,Tulsa medical center shooting,Oklahoma,1/6/22,Male,Workplace,NaN,NaN,NaN,Unclear,Black,...,45.0,NaN,4,"(TK ""fewer than 10""",NaN,NaN,NaN,TK,NaN,2022
134,Robb Elementary School massacre,Texas,24/5/2022,Male,School,NaN,NaN,yes,Unclear,Latino,...,18.0,NaN,21,17,NaN,NaN,NaN,38,NaN,2022
135,Buffalo supermarket massacre,New York,14/5/2022,Male,Workplace,previous threats and a mental health evaluatio...,NaN,yes,Unclear,White,...,18.0,NaN,10,3,NaN,NaN,NaN,13,NaN,2022
136,Sacramento County church shooting,California,28/2/2022,Male,Religious,NaN,NaN,NaN,Unclear,Unclear,...,NaN,NaN,4,0,NaN,NaN,NaN,4,NaN,2022

In [22]:
df_normalize = dataset.copy()
df_normalize

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Age Of Shooter,Day,Fatalities,Injured,Latitude,Longitude,Month,Total Victims,Victim Rate,Year
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,31.0,24.0,6,6,0,0,5.0,12,21.0,2022
1,LGBTQ club shooting,Colorado,19/11/2022,Male,Other,Aldrich reportedly had a history of menacing b...,NaN,yes,Unknown,White,...,22.0,14.0,5,25,0,0,5.0,30,13.0,2022
2,University of Virginia shooting,Virginia,13/11/2022,Male,School,NaN,NaN,NaN,Unknown,Black,...,22.0,28.0,3,2,"3,860,111,019","-1,214,189,659",2.0,5,4.0,2022
3,Oxford High School shooting,Oxford,30/11/2021,Male,School,-,-,-,Unknown,-,...,15.0,30.0,4,7,"4,284,410,784","-8,325,992,831",11.0,11,11.0,2021
4,San Jose VTA shooting,San Jose,26/5/2021,Male,Workplace,"Perpetrator had a history of depression, angry...",https://www.nytimes.com/2021/05/26/us/what-hap...,yes,Yes,-,...,57.0,26.0,9,0,"37,316,097","-121,888,533",5.0,9,9.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Concrete company shooting,Maryland,9/6/22,Male,Workplace,NaN,NaN,NaN,Unclear,Unclear,...,23.0,NaN,3,1,NaN,NaN,NaN,4,NaN,2022
133,Tulsa medical center shooting,Oklahoma,1/6/22,Male,Workplace,NaN,NaN,NaN,Unclear,Black,...,45.0,NaN,4,"(TK ""fewer than 10""",NaN,NaN,NaN,TK,NaN,2022
134,Robb Elementary School massacre,Texas,24/5/2022,Male,School,NaN,NaN,yes,Unclear,Latino,...,18.0,NaN,21,17,NaN,NaN,NaN,38,NaN,2022
135,Buffalo supermarket massacre,New York,14/5/2022,Male,Workplace,previous threats and a mental health evaluatio...,NaN,yes,Unclear,White,...,18.0,NaN,10,3,NaN,NaN,NaN,13,NaN,2022
136,Sacramento County church shooting,California,28/2/2022,Male,Religious,NaN,NaN,NaN,Unclear,Unclear,...,NaN,NaN,4,0,NaN,NaN,NaN,4,NaN,2022

In [192]:
df_city = dataset['City'] 
df_city = df_city.drop_duplicates()
df_city

0          Virginia
1          Colorado
3            Oxford
4          San Jose
5      Indianapolis
           ...
132        Maryland
133        Oklahoma
134           Texas
135        New York
136      California
Name: City, Length: 123, dtype: object

In [197]:
new_df_city = df_city.drop_duplicates().reset_index(drop=True)
new_df_city = pd.DataFrame(new_df_city)
new_df_city

             City
0        Virginia
1        Colorado
2          Oxford
3        San Jose
4    Indianapolis
..            ...
118      Maryland
119      Oklahoma
120         Texas
121      New York
122    California

[123 rows x 1 columns]

In [198]:
print(new_df_city.columns)

Index(['City'], dtype='object')

In [201]:
new_df_city = new_df_city.reset_index()
new_df_city = new_df_city.rename(columns={'index': 'id_city'})
new_df_city

     id_city          City
0          0      Virginia
1          1      Colorado
2          2        Oxford
3          3      San Jose
4          4  Indianapolis
..       ...           ...
118      118      Maryland
119      119      Oklahoma
120      120         Texas
121      121      New York
122      122    California

[123 rows x 2 columns]

In [202]:
print(new_df_city.columns)

Index(['id_city', 'City'], dtype='object')

In [240]:
df_gender = dataset['Gender'] 
df_gender = df_gender.drop_duplicates()
df_gender

0              Male
11    Male & Female
24           Female
Name: Gender, dtype: object

In [241]:
new_df_gender = df_gender.drop_duplicates().reset_index(drop=True)
new_df_gender = pd.DataFrame(new_df_gender)
new_df_gender

          Gender
0           Male
1  Male & Female
2         Female

In [242]:
new_df_gender = new_df_gender.reset_index()
new_df_gender = new_df_gender.rename(columns={'index': 'id_gender'})
new_df_gender

   id_gender         Gender
0          0           Male
1          1  Male & Female
2          2         Female

In [244]:
df_location = dataset['Location'] 
df_location = df_location.drop_duplicates()
df_location

0       Workplace
1           Other
2          School
12       Military
23      Religious
43        Airport
50    \nWorkplace
Name: Location, dtype: object

In [245]:
new_df_location = df_location.drop_duplicates().reset_index(drop=True)
new_df_location = pd.DataFrame(new_df_location)
new_df_location

      Location
0    Workplace
1        Other
2       School
3     Military
4    Religious
5      Airport
6  \nWorkplace

In [246]:
new_df_location = new_df_location.reset_index()
new_df_location = new_df_location.rename(columns={'index': 'id_location'})
new_df_location

   id_location     Location
0            0    Workplace
1            1        Other
2            2       School
3            3     Military
4            4    Religious
5            5      Airport
6            6  \nWorkplace

In [248]:
df_race = dataset['Race'] 
df_race = df_race.drop_duplicates()
df_race

0                Black
1                White
3                    -
21              Latino
30               Asian
47               Other
57     Native American
66               white
76               black
108            unclear
132            Unclear
Name: Race, dtype: object

In [251]:
new_df_race = df_race.drop_duplicates().reset_index(drop=True)
new_df_race = pd.DataFrame(new_df_race)
new_df_race

               Race
0             Black
1             White
2                 -
3            Latino
4             Asian
5             Other
6   Native American
7             white
8             black
9           unclear
10          Unclear

In [252]:
new_df_race = new_df_race.reset_index()
new_df_race = new_df_race.rename(columns={'index': 'id_race'})
new_df_race

    id_race             Race
0         0            Black
1         1            White
2         2                -
3         3           Latino
4         4            Asian
5         5            Other
6         6  Native American
7         7            white
8         8            black
9         9          unclear
10       10          Unclear

In [265]:
df_merge = pd.merge(df_normalize, new_df_city, how='inner', on = 'City')
df_merge

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Day,Fatalities,Injured,Latitude,Longitude,Month,Total Victims,Victim Rate,Year,id_city
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,24.0,6,6,0,0,5.0,12,21.0,2022,0
1,University of Virginia shooting,Virginia,13/11/2022,Male,School,NaN,NaN,NaN,Unknown,Black,...,28.0,3,2,"3,860,111,019","-1,214,189,659",2.0,5,4.0,2022,0
2,LGBTQ club shooting,Colorado,19/11/2022,Male,Other,Aldrich reportedly had a history of menacing b...,NaN,yes,Unknown,White,...,14.0,5,25,0,0,5.0,30,13.0,2022,1
3,Oxford High School shooting,Oxford,30/11/2021,Male,School,-,-,-,Unknown,-,...,30.0,4,7,"4,284,410,784","-8,325,992,831",11.0,11,11.0,2021,2
4,San Jose VTA shooting,San Jose,26/5/2021,Male,Workplace,"Perpetrator had a history of depression, angry...",https://www.nytimes.com/2021/05/26/us/what-hap...,yes,Yes,-,...,26.0,9,0,"37,316,097","-121,888,533",5.0,9,9.0,2021,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Concrete company shooting,Maryland,9/6/22,Male,Workplace,NaN,NaN,NaN,Unclear,Unclear,...,NaN,3,1,NaN,NaN,NaN,4,NaN,2022,118
133,Tulsa medical center shooting,Oklahoma,1/6/22,Male,Workplace,NaN,NaN,NaN,Unclear,Black,...,NaN,4,"(TK ""fewer than 10""",NaN,NaN,NaN,TK,NaN,2022,119
134,Robb Elementary School massacre,Texas,24/5/2022,Male,School,NaN,NaN,yes,Unclear,Latino,...,NaN,21,17,NaN,NaN,NaN,38,NaN,2022,120
135,Buffalo supermarket massacre,New York,14/5/2022,Male,Workplace,previous threats and a mental health evaluatio...,NaN,yes,Unclear,White,...,NaN,10,3,NaN,NaN,NaN,13,NaN,2022,121
136,Sacramento County church shooting,California,28/2/2022,Male,Religious,NaN,NaN,NaN,Unclear,Unclear,...,NaN,4,0,NaN,NaN,NaN,4,NaN,2022,122

In [267]:
df_merge_2 = pd.merge(df_merge, new_df_gender, how='inner', on = 'Gender')
df_merge_2

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Fatalities,Injured,Latitude,Longitude,Month,Total Victims,Victim Rate,Year,id_city,id_gender
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,6,6,0,0,5.0,12,21.0,2022,0,0
1,University of Virginia shooting,Virginia,13/11/2022,Male,School,NaN,NaN,NaN,Unknown,Black,...,3,2,"3,860,111,019","-1,214,189,659",2.0,5,4.0,2022,0,0
2,LGBTQ club shooting,Colorado,19/11/2022,Male,Other,Aldrich reportedly had a history of menacing b...,NaN,yes,Unknown,White,...,5,25,0,0,5.0,30,13.0,2022,1,0
3,Oxford High School shooting,Oxford,30/11/2021,Male,School,-,-,-,Unknown,-,...,4,7,"4,284,410,784","-8,325,992,831",11.0,11,11.0,2021,2,0
4,San Jose VTA shooting,San Jose,26/5/2021,Male,Workplace,"Perpetrator had a history of depression, angry...",https://www.nytimes.com/2021/05/26/us/what-hap...,yes,Yes,-,...,9,0,"37,316,097","-121,888,533",5.0,9,9.0,2021,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Jersey City kosher market shooting,Jersey City,10/12/2019,Male & Female,Other,-,-,-,Unknown,Black,...,4,3,"40,707,363","-74,083,609",12.0,7,7.0,2019,10,1
133,San Bernardino mass shooting,San Bernardino,2/12/2015,Male & Female,\nWorkplace,Unclear,-,Unclear,Unclear,Other,...,14,21,"34,075,961","-11,727,789",12.0,35,35.0,2015,48,1
134,Rite Aid warehouse shooting,Perryman,20/9/2018,Female,Workplace,-,-,-,Unknown,Black,...,3,3,"39,455,658","-76,208,485",9.0,6,6.0,2018,23,2
135,Alturas tribal shooting,Alturas,20/2/2014,Female,Other,-,-,Unknown,Unknown,Native American,...,4,2,"41,487,104","-120,542,237",2.0,6,6.0,2014,57,2
136,Goleta postal shootings,Goleta,30/1/2006,Female,Workplace,She was placed on retirement disability for ps...,http://www.msnbc.msn.com/id/11167920/ns/us_new...,Yes,Yes,white,...,8,0,"34,425,571","-119,866,069",1.0,8,8.0,2006,83,2

In [268]:
df_merge_3 = pd.merge(df_merge_2, new_df_location, how='inner', on = 'Location')
df_merge_3

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Injured,Latitude,Longitude,Month,Total Victims,Victim Rate,Year,id_city,id_gender,id_location
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,6,0,0,5.0,12,21.0,2022,0,0,0
1,San Jose VTA shooting,San Jose,26/5/2021,Male,Workplace,"Perpetrator had a history of depression, angry...",https://www.nytimes.com/2021/05/26/us/what-hap...,yes,Yes,-,...,0,"37,316,097","-121,888,533",5.0,9,9.0,2021,3,0,0
2,FedEx warehouse shooting,Indianapolis,15/4/2021,Male,Workplace,Perpetrator had been reported to police in 202...,https://www.nytimes.com/2021/04/19/us/indianap...,yes,Yes,White,...,7,"3,968,663","-8,632,313",4.0,15,15.0,2021,4,0,0
3,Orange office complex shooting,Orange,31/3/2021,Male,Workplace,-,-,-,Unknown,-,...,1,"3,383,542","-11,785,379",3.0,5,5.0,2021,5,0,0
4,Caltrans maintenance yard shooting,Orange,18/12/1997,Male,Workplace,He was disgruntled after being fired.,http://articles.latimes.com/1997/dec/20/news/m...,No,No,Latino,...,2,"337,877,944","-1,178,531,119",12.0,7,7.0,1997,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Wedgwood Baptist Church shooting,Fort Worth,15/9/1999,Male,Religious,His siblings decribed him as a paranoid schizo...,http://www.nytimes.com/1999/09/18/us/death-in-...,Yes,Yes,white,...,7,"32,664,511","-97,384,246",9.0,15,15.0,1999,92,0,4
133,Church potluck dinner shooting,Alabama,16/6/2022,Male,Religious,NaN,NaN,NaN,Unclear,White,...,0,NaN,NaN,NaN,3,NaN,2022,117,0,4
134,Sacramento County church shooting,California,28/2/2022,Male,Religious,NaN,NaN,NaN,Unclear,Unclear,...,0,NaN,NaN,NaN,4,NaN,2022,122,0,4
135,Fort Lauderdale airport shooting,Fort Lauderdale,6/1/2017,Male,Airport,"Among other signs, Santiago had gone to a FBI ...",http://www.nytimes.com/2017/01/07/us/esteban-s...,Yes,Yes,Latino,...,6,"26,072,751","-80,143,382",1.0,11,11.0,2017,42,0,5
136,San Bernardino mass shooting,San Bernardino,2/12/2015,Male & Female,\nWorkplace,Unclear,-,Unclear,Unclear,Other,...,21,"34,075,961","-11,727,789",12.0,35,35.0,2015,48,1,6

In [269]:
df_merge_4 = pd.merge(df_merge_3, new_df_race, how='inner', on = 'Race')
df_merge_4

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Latitude,Longitude,Month,Total Victims,Victim Rate,Year,id_city,id_gender,id_location,id_race
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,0,0,5.0,12,21.0,2022,0,0,0,0
1,Molson Coors shooting,Milwaukee,26/2/2020,Male,Workplace,-,-,-,Unknown,Black,...,"43,044,511","-87,962,537",2.0,5,5.0,2020,9,0,0,0
2,Virginia Beach municipal building shooting,Virginia Beach,31/5/2019,Male,Workplace,-,-,TBD,Unclear,Black,...,"3,675,442","-76,060,378",5.0,16,16.0,2019,16,0,0,0
3,Harry Pratt Co. warehouse shooting,Aurora,15/2/2019,Male,Workplace,(pending),-,Yes,Yes,Black,...,"41,753,725","-88,331,057",2.0,11,11.0,2019,17,0,0,0
4,Edgewood businees park shooting,Edgewood,18/10/2017,Male,Workplace,-,-,Unclear,Unclear,Black,...,"39,452,189","-76,309,988",10.0,6,6.0,2017,35,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Fort Hood massacre,Fort Hood,5/11/2009,Male,Military,Medical officials at Walter Reed Army Medical ...,http://www.npr.org/templates/story/story.php?s...,Unclear,Unclear,Other,...,"31,135,557","-97,783,664",11.0,44,44.0,2009,56,0,3,5
133,San Bernardino mass shooting,San Bernardino,2/12/2015,Male & Female,\nWorkplace,Unclear,-,Unclear,Unclear,Other,...,"34,075,961","-11,727,789",12.0,35,35.0,2015,48,1,6,5
134,Marysville-Pilchuck High School shooting,Marysville,24/10/2014,Male,School,"Fryberg was well-liked and allegedly happy, bu...",http://www.newyorker.com/science/maria-konniko...,Unclear,Unclear,Native American,...,"48,050,824","-122,176,918",10.0,6,6.0,2014,54,0,2,6
135,Red Lake massacre,Red Lake,21/3/2005,Male,School,He voluntarily visited a a psychiatric ward. H...,http://www.cbsnews.com/stories/2005/03/24/nati...,Yes,Yes,Native American,...,"47,876,346","-950,169,401",3.0,15,15.0,2005,84,0,2,6
136,Alturas tribal shooting,Alturas,20/2/2014,Female,Other,-,-,Unknown,Unknown,Native American,...,"41,487,104","-120,542,237",2.0,6,6.0,2014,57,2,1,6

In [270]:
df_merge_4

,Case,City,Date,Gender,Location,Mental Health Details,Mental Health Sources,Prior Signs Mental Health Issues,Prior Signs Mental Health Issues (group),Race,...,Latitude,Longitude,Month,Total Victims,Victim Rate,Year,id_city,id_gender,id_location,id_race
0,Virginia Walmart shooting,Virginia,22/11/2022,Male,Workplace,NaN,NaN,NaN,Unknown,Black,...,0,0,5.0,12,21.0,2022,0,0,0,0
1,Molson Coors shooting,Milwaukee,26/2/2020,Male,Workplace,-,-,-,Unknown,Black,...,"43,044,511","-87,962,537",2.0,5,5.0,2020,9,0,0,0
2,Virginia Beach municipal building shooting,Virginia Beach,31/5/2019,Male,Workplace,-,-,TBD,Unclear,Black,...,"3,675,442","-76,060,378",5.0,16,16.0,2019,16,0,0,0
3,Harry Pratt Co. warehouse shooting,Aurora,15/2/2019,Male,Workplace,(pending),-,Yes,Yes,Black,...,"41,753,725","-88,331,057",2.0,11,11.0,2019,17,0,0,0
4,Edgewood businees park shooting,Edgewood,18/10/2017,Male,Workplace,-,-,Unclear,Unclear,Black,...,"39,452,189","-76,309,988",10.0,6,6.0,2017,35,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Fort Hood massacre,Fort Hood,5/11/2009,Male,Military,Medical officials at Walter Reed Army Medical ...,http://www.npr.org/templates/story/story.php?s...,Unclear,Unclear,Other,...,"31,135,557","-97,783,664",11.0,44,44.0,2009,56,0,3,5
133,San Bernardino mass shooting,San Bernardino,2/12/2015,Male & Female,\nWorkplace,Unclear,-,Unclear,Unclear,Other,...,"34,075,961","-11,727,789",12.0,35,35.0,2015,48,1,6,5
134,Marysville-Pilchuck High School shooting,Marysville,24/10/2014,Male,School,"Fryberg was well-liked and allegedly happy, bu...",http://www.newyorker.com/science/maria-konniko...,Unclear,Unclear,Native American,...,"48,050,824","-122,176,918",10.0,6,6.0,2014,54,0,2,6
135,Red Lake massacre,Red Lake,21/3/2005,Male,School,He voluntarily visited a a psychiatric ward. H...,http://www.cbsnews.com/stories/2005/03/24/nati...,Yes,Yes,Native American,...,"47,876,346","-950,169,401",3.0,15,15.0,2005,84,0,2,6
136,Alturas tribal shooting,Alturas,20/2/2014,Female,Other,-,-,Unknown,Unknown,Native American,...,"41,487,104","-120,542,237",2.0,6,6.0,2014,57,2,1,6

In [272]:
df_merge_4.to_csv('dataframe_normalize.csv', index=False)